/* Espacio para importar fuentes de texto */

@import url("https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=REM:wght@300&display=swap");

/* ------------------------------------------------------------------------------- */

$header: #2b1e4a;
$Mizquierda: #3a205d;
$Mderecha: #1f2c60;
$textos: #e6e6f4;

@mixin bordes {
  border-radius: 70px !important;
}

@mixin bordes-superiores {
  border-top-right-radius: 145px;
  border-top-left-radius: 145px;
}

@mixin bordes-imagenes {
  border-radius: 35px !important;
}

@mixin titulos {
  font-family: "REM", sans-serif;
}

@mixin centro {
  top: 50%;
  left: 0%;
  right: 0%;
  transform: translate(0%, -50%);
}

.btn-whatsapp {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;

  img {
    width: 60px;
    height: 60px;
    margin: 20px;
  }

  img:hover {
    width: 70px;
    height: 70px;
  }
}

body {
  font-family: "Open Sans", sans-serif !important;
  overflow-x: hidden !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  color: $textos !important;
  background: rgb(58, 32, 93);
  background: linear-gradient(
    90deg,
    rgba(58, 32, 93, 1) 40%,
    rgba(31, 44, 96, 1) 100%
  );
}

.contentScroll {
  overflow: auto;
  overflow-x: hidden;
}

.contentScroll::-webkit-scrollbar {
  width: 8px;
}

.contentScroll::-webkit-scrollbar-thumb {
  border-radius: 25px;
}

.contentScroll::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.6);
  width: 10px !important;
}

.contentScroll::-webkit-scrollbar-thumb:hover {
  border-radius: 25px;
  width: 10px !important;
}

.contentScroll::-webkit-scrollbar-track {
  border-radius: 25px;
}

.banner {
  position: relative;
  height: 100%;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner {
  .hero-contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      margin-top: -20%;
      width: 400px;
      height: 400px;
    }

    h4 {
      margin-top: -10%;
      color: azure;
    }
  }
}

.presentacion {
  h1 {
    font-size: 9vmin;
    font-weight: 700;
    margin: 1rem 0 1rem 2rem;
  }

  @keyframes typing {
    0.0000%,
    27.3488% {
      content: "";
    }
    1.1395%,
    26.2093% {
      content: "m";
    }
    2.2791%,
    25.0698% {
      content: "mu";
    }
    3.4186%,
    23.9302% {
      content: "mun";
    }
    4.5581%,
    22.7907% {
      content: "mund";
    }
    5.6977%,
    21.6512% {
      content: "mundo.";
    }

    30.7674%,
    51.2791% {
      content: "";
    }
    31.9070%,
    50.1395% {
      content: "n";
    }
    33.0465%,
    49.0000% {
      content: "ne";
    }
    34.1860%,
    47.8605% {
      content: "neg";
    }
    35.3256%,
    46.7209% {
      content: "nego";
    }
    36.4651%,
    45.5814% {
      content: "negoc";
    }
    37.6047%,
    44.4419% {
      content: "negoci";
    }
    38.6047%,
    43.4419% {
      content: "negocio.";
    }

    54.6977%,
    75.2093% {
      content: "";
    }
    55.8372%,
    74.0698% {
      content: "m";
    }
    56.9767%,
    72.9302% {
      content: "mu";
    }
    58.1163%,
    71.7907% {
      content: "mun";
    }
    59.2558%,
    70.6512% {
      content: "mund";
    }
    60.3953%,
    69.5116% {
      content: "mundo.";
    }

    78.6279%,
    96.8605% {
      content: "";
    }
    79.7674%,
    95.7209% {
      content: "n";
    }
    80.9070%,
    94.5814% {
      content: "ne";
    }
    82.0465%,
    93.4419% {
      content: "neg";
    }
    83.1860%,
    92.3023% {
      content: "nego";
    }
    84.3651%,
    91.2814% {
      content: "negoc";
    }
    85.3651%,
    90.1419% {
      content: "negoci";
    }
    86.3651%,
    89.0419% {
      content: "negocio.";
    }
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .typewriter {
    --caret: currentcolor;
  }

  .typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
  }

  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }

  .typewriter.thick::after {
    border-right: 1ch solid var(--caret);
  }

  .typewriter.nocaret::after {
    border-right: 0;
  }

  @media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }

    @keyframes sequencePopup {
      0%,
      100% {
        content: "developer";
      }
      25% {
        content: "writer";
      }
      50% {
        content: "reader";
      }
      75% {
        content: "human";
      }
    }

    .typewriter::before {
      content: "developer";
      animation: sequencePopup 12s linear infinite;
    }
  }
}

/* Estilo de la barra de navegación */
header {
  z-index: 1;
  position: sticky;
  top: 0;
  .navDesign {
    background-color: $header !important;
    padding: 1% !important;
    color: $textos !important;

    .btn-menu {
      display: flex !important;
      outline: none !important;
      border: none !important;
      span {
        margin-top: 5px;
      }
      font-size: 30px !important;
      font-weight: bold !important;
      color: $textos !important;
    }

    .contact {
      font-size: 30px !important;
      font-weight: bold !important;
    }

    img {
      width: 70px !important;
    }

    a {
      color: $textos;
      text-decoration: none !important;
    }
  }

  .offcanvas-edit {
    background-color: rgba($color: $Mizquierda, $alpha: 0.5) !important;
    color: $textos !important;
    backdrop-filter: blur(10px) !important;
    text-align: center;
    padding: 1em;
    h1.titulo {
      @include titulos();
      font-weight: bold;
    }

    .btn-close {
      background-color: $textos;
    }

    .nav-item {
      background-color: rgba($color: $textos, $alpha: 0.5);
      color: $Mizquierda;
      border-radius: 5px;
      .nav-link{
        font-weight: bold !important;
        font-size: 18px !important;
      }
    }

    .nav-item:hover{
      background-color: $textos;
      box-shadow: 0px 2px 5px rgb(143, 143, 143);
    }
  }
}

/* --------------------------------- */
div#conocenos {
  padding-top: 5em !important;
  h1 {
    @include titulos();
    font-weight: bold;
    text-align: center;
    margin: 1em 0 3em 0 !important;
  }

  div.acerca {
    padding: 0 0 5em 5em !important;

    h2 {
      @include titulos;
      margin-bottom: 1em !important;
    }

    p {
      text-align: justify !important;
    }
  }

  div.animacion {
    align-items: center;
    justify-content: center;
    padding: 0 0 0 10em !important;
    .boomerang {
      background-image: url("../IMG/Boomerang.gif");
      background-size: cover;
      width: 400px;
      height: 400px;
    }
  }
}

div#porque {
  padding-top: 5em !important;
  h1 {
    @include titulos();
    font-weight: bold;
    text-align: center;
    margin: 1em 0 3em 0 !important;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
      color: #ffffff;
    }
    .tab {
      position: relative;
      background: #fff;
      padding: 0 20px 20px;
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      overflow: hidden;
      input {
        appearance: none;
        &:checked {
          ~ {
            label {
              &::after {
                content: "";
                color: #fff;
                transform: rotate(135deg);
              }
              h2 {
                @include titulos();
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: rgba(255, 255, 255, 0.2);
                font-size: 8em;
                justify-content: flex-end;
                padding: 20px;
              }
              h3 {
                @include titulos();
                background: #fff;
                padding: 2px 10px;
                color: #333;
                border-radius: 2px;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
              }
            }
            .content {
              max-height: 100vh;
              transition: 1s;
              p {
                color: #fff;
              }
            }
          }
        }
      }
      label {
        display: inline-block;
        display: flex;
        margin-bottom: 0px;
        align-items: center;
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          right: 20px;
          font-size: 2em;
          color: rgba(0, 0, 0, 0.1);
          transition: transform 1s;
        }
        h2 {
          @include titulos();
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 1.25em;
          border-radius: 5px;
          margin-right: 10px;
        }
        h3 {
          @include titulos();
          position: relative;
          font-weight: 500;
          color: #333;
        }
      }
      &:hover {
        label {
          &::after {
            color: #333;
          }
        }
      }
      .content {
        max-height: 0;
        overflow: hidden;
        transition: 1s;
        p {
          position: relative;
          padding: 10px 0;
          color: #333;
        }
      }
      &:nth-child(1) {
        label {
          h2 {
            background: linear-gradient(135deg, #3a205d 10%, #1f2c60 100%);
          }
        }
      }
      &:nth-child(2) {
        label {
          h2 {
            background: linear-gradient(135deg, #3a205d 10%, #1f2c60 100%);
          }
        }
      }
      &:nth-child(3) {
        label {
          h2 {
            background: linear-gradient(135deg, #3a205d 10%, #1f2c60 100%);
          }
        }
      }
      &:nth-child(4) {
        label {
          h2 {
            background: linear-gradient(135deg, #3a205d 10%, #1f2c60 100%);
          }
        }
      }
      &:nth-child(5) {
        label {
          h2 {
            background: linear-gradient(135deg, #3a205d 10%, #1f2c60 100%);
          }
        }
      }
    }
  }
}

div#servicios {
  padding-top: 5em !important;
  h1 {
    @include titulos();
    font-weight: bold;
    text-align: center;
    margin: 1em 0 3em 0 !important;
  }

  div#caja1 {
    background-image: url("../IMG/imagen1.png");
    background-size: cover;
    width: 100%;
    height: 350px;
    margin-bottom: 3em !important;

    .txt {
      float: right !important;
      border-style: solid;
      padding: 3% !important;
      width: 50%;
      margin-right: 3%;
      position: relative;
      @include centro;

      h4 {
        @include titulos;
      }

      p {
        text-align: justify;
      }
    }
  }

  div#caja2 {
    background-image: url("../IMG/imagen2.png");
    background-size: cover;
    width: 100%;
    height: 350px;
    margin-bottom: 3em !important;

    .txt {
      background-color: rgba($color: $header, $alpha: 0.7);
      float: right !important;
      border-style: solid;
      padding: 3% !important;
      width: 50%;
      margin-right: 25%;
      position: relative;
      @include centro;

      h4 {
        @include titulos;
      }

      p {
        text-align: justify;
      }
    }
  }
}

div#portafolio {
  padding-top: 5em !important;
}

div#contacto {
  padding-top: 5em !important;
  padding-bottom: 10em !important;
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .box {
      .cuadrado {
        content: "";
        position: absolute;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        background: rgba(228, 8, 209, 0.1);
        animation: animate 10s linear infinite;
        animation-delay: calc(-1s * var(--i));
        &:nth-child(1) {
          top: -50px;
          right: -60px;
          width: 100px;
          height: 100px;
        }
        &:nth-child(2) {
          top: 150px;
          left: -100px;
          width: 120px;
          height: 120px;
        }
        &:nth-child(3) {
          bottom: 50px;
          right: -60px;
          width: 80px;
          height: 80px;
        }
        &:nth-child(5) {
          top: -80px;
          left: 140px;
          width: 60px;
          height: 60px;
        }
      }
      position: relative;
      .container {
        position: relative;
        width: 400px;
        min-height: 400px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
        .form {
          position: relative;
          width: 100%;
          height: 100%;
          padding: 40px;
          box-sizing: border-box;
          h2 {
            position: relative;
            margin: 0%;
            padding: 0%;
            color: #fff;
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 40px;
            &:before {
              content: "";
              position: absolute;
              left: 0;
              bottom: -10px;
              width: 80px;
              height: 4px;
              background: #fff;
              border-radius: 3px;
            }
          }
          form {
            .inputbox {
              width: 100%;
              margin-top: 20px;
              input,
              textarea {
                width: 100%;
                background: transparent;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                background: rgba(255, 255, 255, 0.2);
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                border-left: 1px solid rgba(255, 255, 255, 0.5);
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
                outline: none;
                font-size: 16px;
                letter-spacing: 1px;
                color: #fff;
                font-weight: 600;
                &::placeholder {
                  color: #fff;
                }
              }
              input[type="submit"] {
                background: #fff;
                color: #656;
                border: none;
                font-weight: 600;
                max-width: 100px;
                cursor: pointer;
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }

  @keyframes animate {
    0%,
    100% {
      transform: translateY(140px);
    }
    50% {
      transform: translateY(40px);
    }
  }
}
