/* Espacio para importar fuentes de texto */

@import url("../FONTS/Ruda_Black/stylesheet.css");

/* ------------------------------------------------------------------------------- */

@mixin bordes {
  border-radius: 70px !important;
}

@mixin bordes-superiores {
  border-top-right-radius: 145px;
  border-top-left-radius: 145px;
}

@mixin bordes-imagenes {
  border-radius: 35px !important;
}

$azulDeFondo: #000545;
$azulFuerte: #12229d;
$azulClaro: #233dff;
$azulHover: #cae8ff;
$verde: #00fe8c;
$textos: #f4f6fc;

.centro {
  position: absolute;
  top: 50%;
  left: 0%;
  right: 0%;
  transform: translate(0%, -50%);
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif !important;
  overflow-x: hidden !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  color: $textos !important;
  background-color: $azulDeFondo !important;
}

.contentScroll {
  overflow: auto;
  overflow-x: hidden;
}

.contentScroll::-webkit-scrollbar {
  width: 8px;
}

.contentScroll::-webkit-scrollbar-thumb {
  background: $verde;
  border-radius: 25px;
}

.contentScroll::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.6);
  width: 10px !important;
}

.contentScroll::-webkit-scrollbar-thumb:hover {
  background: $azulClaro;
  border-radius: 25px;
  width: 10px !important;
}

.contentScroll::-webkit-scrollbar-track {
  border-radius: 25px;
}

.txtGradial {
  /*  leverage cascade for cross-browser gradients  */
  background: radial-gradient($verde, $azulClaro) fixed;
  background: conic-gradient($verde, $textos, $verde) fixed;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner {
  position: relative;
  height: 100%;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner {
  .hero-contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      margin-top: -20%;
      width: 400px;
      height: 400px;
    }

    h4 {
      margin-top: -10%;
      color: azure;
    }
  }
}

/* Estilo de la barra de navegación */

header {
  position: sticky !important;
  top: 0;
  margin-top: 1em;
  z-index: 1;
  nav {
    font-family: Arial, Helvetica, sans-serif !important;
    width: auto;
    background-color: #ffffff00 !important;
    backdrop-filter: blur(50px) !important;
    padding: 2% 0 2% 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;

    a {
      background-color: $verde;
      font-weight: bold;
      font-size: 22px;
      color: black !important;
      @include bordes();
      padding: 10px;
      margin-inline: 20px;
    }

    a:hover {
      background-color: #dceafc;
    }

    .active {
      color: $textos !important;
    }
  }
}

span.secciones {
  padding: 100px 20px;
}

/* --------------------------------- */

div.presentacion {
  border-color: $azulFuerte;
  border-width: 1em;
  border-style: solid;
  @include bordes();
  text-align: center;

  h1.nombre {
    font-size: 100px !important;
  }
}

div.cita {
  align-items: center;
  text-align: center;
  justify-content: center;

  .imgCita {
    /* Cambiar el avatar por el propio en el url */
    @include bordes();
    align-items: center;
    justify-content: center;

    img {
      border-style: solid !important;
      border-width: 10px !important;
      border-color: $azulClaro !important;
      box-shadow: 0px 1px 5px black !important;
      @include bordes();
      width: 340px;
      height: 340px;
      margin-bottom: 4%;
    }
  }

  .btns {
    @include bordes();
    background-color: $verde;
    margin-bottom: 15%;
    font-size: 20px !important;
  }

  .btns:hover {
    background-color: $textos;
    box-shadow: 0px 2px 15px #233dff;
  }
}

h1.titles {
  text-align: center;
  margin-bottom: 4% !important;
}

h2 {
  text-align: center;
}

div#inicio {
  margin-top: 5% !important;
}

@mixin valoresContenedor {
  @include bordes-superiores();
  width: 100% !important;
  height: auto !important;
  h1.acerca {
    text-align: center;
  }

  hr {
    border: 15px !important;
    color: $textos;
  }

  p {
    padding: 1em;
    font-family: "Ruda Black" !important;
    text-align: justify;
  }
}

.containt1 {
  @include valoresContenedor();
  background-color: $azulFuerte;
  .contenido {
    padding: 5% !important;
  }
}

.containt2 {
  @include valoresContenedor();
  background-color: $azulDeFondo;
  .contenido {
    padding: 5% !important;
  }
}

div.servicio {
  display: flex;
  padding: 2em;

  div#imagen {
    img {
      border-style: solid;
      border-color: $textos;
      @include bordes-imagenes();
      border-width: 4px !important;
      margin-right: 3em;
      width: 200px !important;
      height: 200px !important;
    }
  }

  div#texto {
    text-align: justify;
    font-family: "Ruda Black" !important;
  }
}

.proyectos {
  margin: 0 0 10em 5em !important;
  .cardProyectos {
    font-family: "Ruda Black";
    text-align: center;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: $textos;
    border-width: 4px !important;
    border-radius: 35px !important;
    img {
      width: 292px;
      height: 292px;
      image-rendering: optimizeQuality;
      @include bordes-imagenes();
      filter: brightness(0.5);
    }

    .card-img-overlay-edit {
      p {
        font-size: 13px;
      }
    }
  }
}

.proceso {
  content: url("../IMG/PDT.png") !important;
  width: 100%;
}

.containerImg {
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
  margin-bottom: 10%;

  .box {
    position: relative;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
  }

  .box:hover ~ .box {
    transform: rotateY(-25deg);
  }

  .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
  }

  .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .box .imgBx:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(180deg,#f00,#000); */
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
  }

  .box:hover .imgBx:before {
    opacity: 1;
  }

  .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
  }

  .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
  }

  .box:hover .content h2 {
    transform: translateY(0px);
  }

  .box .content p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
  }

  .box:hover .content p {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 950px) {
  .containerImg {
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;

    .box {
      position: relative;
      width: 105px !important;
      height: 105px !important;
      transition: 0.5s;
      transform-style: preserve-3d;
      overflow: hidden;
      margin-right: 15px;
      margin-top: 45px;
    }
  }
}

.containerImg:hover .box {
  transform: rotateY(25deg);
}

div#forms {
  margin-left: 12% !important;
  text-align: center !important;
  form#formulario {
    background-color: $azulFuerte;
    @include bordes();
    padding: 10% !important;
    width: 350px;
    justify-content: center !important;
    align-items: center !important;
    font-family: "Ruda Black";

    input {
      @include bordes();
      margin-bottom: 1em;
    }

    select {
      @include bordes();
      margin-bottom: 1em;
    }

    textarea {
      border-radius: 15px !important;
      margin-bottom: 1em;
      width: 100% !important;
      padding: 10px;
    }

    input:focus {
      background-color: $textos;
      box-shadow: 0px 2px 15px black;
    }

    select:focus {
      background-color: $textos;
      box-shadow: 0px 2px 15px black;
    }

    textarea:focus {
      background-color: $textos;
      box-shadow: 0px 2px 15px black;
      border-style: none !important;
      outline: none !important;
    }

  }

  .btns {
    @include bordes();
    font-size: 16px !important;
    background-color: $verde;
  }

  .btns:hover {
    background-color: $textos;
    box-shadow: 0px 2px 15px #233dff;
  }
}

div#imgContacto{
  width: 100%;
  @include bordes-imagenes();
  img.contacto{
    @include bordes-imagenes();
    height: 450px;
    border-style: solid;
  border-color: $azulFuerte;
  border-width: 10px;
  }
}

div#integrantes {
  margin-top: 10%;
  div.avatar {
    margin: 10% !important;
    width: 250px;
    height: 250px;
    @include bordes();
    background-color: $azulFuerte;
    align-items: center;
    text-align: center;
    justify-content: center;

    img.perfil {
      /* Cambiar el avatar por el propio en el url */
      width: 200px;
      height: 200px;
      top: 50%;
      left: 50%;
      margin-bottom: -30%;
      transform: translate(0%, -50%);
    }

    .btns {
      @include bordes();
      background-color: $verde;
      width: 8em;
      height: 3em;
      padding-top: 5% !important;
    }

    .btns:hover {
      background-color: $textos;
      box-shadow: 0px 2px 15px #233dff;
    }
  }
}

/* Footer */

footer {
  @include bordes-superiores();
  background-color: $azulClaro;
  div.pie {
    padding: 6% 6% 0 6%;
    .logodiv {
      img#logo {
        @include bordes-imagenes();
        width: 160px;
        height: 160px;
      }
    }

    .redes {
      margin-left: -10% !important;
      a {
        img#icons {
          width: 100px;
        }
      }
    }

    .sobreTuProyecto {
      text-align: center !important;
      justify-content: center !important;

      h3 {
        color: $textos;
      }

      textarea {
        background-color: rgba($color: $textos, $alpha: 0.8);
        font-size: 16px;
        outline: none !important;
        font-family: "Ruda Black";
        padding: 10px;
        text-align: justify;
        border-radius: 20px;
        width: 75%;
        height: 45%;
      }

      textarea:hover {
        background-color: $textos;
      }

      textarea:focus {
        background-color: $textos;
        box-shadow: 0px 2px 15px black;
        width: 80%;
        height: 50%;
      }

      .btns {
        @include bordes();
        font-size: 16px !important;
        background-color: $verde;
        margin-bottom: 15%;
      }

      .btns:hover {
        background-color: $textos;
        box-shadow: 0px 2px 15px #233dff;
      }
    }
  }
}
