@charset "UTF-8";
/* Espacio para importar fuentes de texto */
@import url("../FONTS/Ruda_Black/stylesheet.css");
/* ------------------------------------------------------------------------------- */
.centro {
  position: absolute;
  top: 50%;
  left: 0%;
  right: 0%;
  transform: translate(0%, -50%);
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif !important;
  overflow-x: hidden !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  color: #f4f6fc !important;
  background-color: #000545 !important;
}

.contentScroll {
  overflow: auto;
  overflow-x: hidden;
}

.contentScroll::-webkit-scrollbar {
  width: 8px;
}

.contentScroll::-webkit-scrollbar-thumb {
  background: #00fe8c;
  border-radius: 25px;
}

.contentScroll::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.6);
  width: 10px !important;
}

.contentScroll::-webkit-scrollbar-thumb:hover {
  background: #233dff;
  border-radius: 25px;
  width: 10px !important;
}

.contentScroll::-webkit-scrollbar-track {
  border-radius: 25px;
}

.txtGradial {
  /*  leverage cascade for cross-browser gradients  */
  background: radial-gradient(#00fe8c, #233dff) fixed;
  background: conic-gradient(#00fe8c, #f4f6fc, #00fe8c) fixed;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner {
  position: relative;
  height: 100%;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner .hero-contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner .hero-contenido img {
  margin-top: -20%;
  width: 400px;
  height: 400px;
}
.banner .hero-contenido h4 {
  margin-top: -10%;
  color: azure;
}

/* Estilo de la barra de navegación */
header {
  position: sticky !important;
  top: 0;
  margin-top: 1em;
  z-index: 1;
}
header nav {
  font-family: Arial, Helvetica, sans-serif !important;
  width: auto;
  background-color: rgba(255, 255, 255, 0) !important;
  backdrop-filter: blur(50px) !important;
  padding: 2% 0 2% 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
header nav a {
  background-color: #00fe8c;
  font-weight: bold;
  font-size: 22px;
  color: black !important;
  border-radius: 70px !important;
  padding: 10px;
  margin-inline: 20px;
}
header nav a:hover {
  background-color: #dceafc;
}

span.secciones {
  padding: 100px 20px;
}

/* --------------------------------- */
div.presentacion {
  border-color: #12229d;
  border-width: 1em;
  border-style: solid;
  border-radius: 70px !important;
  text-align: center;
}
div.presentacion h1.nombre {
  font-size: 100px !important;
}

div.avatar {
  align-items: center;
  text-align: center;
  justify-content: center;
}
div.avatar .perfil {
  /* Cambiar el avatar por el propio en el url */
  border-radius: 70px !important;
  align-items: center;
  justify-content: center;
}
div.avatar .perfil img {
  border-style: solid !important;
  border-width: 10px !important;
  border-color: #233dff !important;
  box-shadow: 0px 1px 5px black !important;
  border-radius: 70px !important;
  width: 340px;
  height: 340px;
  margin-bottom: 4%;
}
div.avatar .btns {
  border-radius: 70px !important;
  background-color: #00fe8c;
  margin-bottom: 15%;
  font-size: 20px !important;
}
div.avatar .btns:hover {
  background-color: #f4f6fc;
  box-shadow: 0px 2px 15px #233dff;
}

h1.titles {
  text-align: center;
  margin-bottom: 4% !important;
}

h2 {
  text-align: center;
}

div#inicio {
  margin-top: 5% !important;
}

.containt1 {
  border-top-right-radius: 145px;
  border-top-left-radius: 145px;
  width: 100% !important;
  height: auto !important;
  background-color: #12229d;
}
.containt1 h1.acerca {
  text-align: center;
}
.containt1 hr {
  border: 15px !important;
  color: #f4f6fc;
}
.containt1 p {
  padding: 1em;
  font-family: "Ruda Black" !important;
  text-align: justify;
}
.containt1 .contenido {
  padding: 5% !important;
}

.containt2 {
  border-top-right-radius: 145px;
  border-top-left-radius: 145px;
  width: 100% !important;
  height: auto !important;
  background-color: #000545;
}
.containt2 h1.acerca {
  text-align: center;
}
.containt2 hr {
  border: 15px !important;
  color: #f4f6fc;
}
.containt2 p {
  padding: 1em;
  font-family: "Ruda Black" !important;
  text-align: justify;
}
.containt2 .contenido {
  padding: 5% !important;
}

div.servicio {
  display: flex;
  padding: 2em;
}
div.servicio div#imagen img {
  border-style: solid;
  border-color: #f4f6fc;
  border-radius: 35px !important;
  border-width: 4px !important;
  margin-right: 3em;
  width: 200px !important;
  height: 200px !important;
}
div.servicio div#texto {
  text-align: justify;
  font-family: "Ruda Black" !important;
}

.proyectos {
  margin: 0 0 10em 5em !important;
}
.proyectos .cardProyectos {
  font-family: "Ruda Black";
  text-align: center;
  width: 300px;
  height: 300px;
  border-style: solid;
  border-color: #f4f6fc;
  border-width: 4px !important;
  border-radius: 35px !important;
}
.proyectos .cardProyectos img {
  width: 292px;
  height: 292px;
  image-rendering: optimizeQuality;
  border-radius: 35px !important;
  filter: brightness(0.5);
}
.proyectos .cardProyectos .card-img-overlay-edit p {
  font-size: 13px;
}

.proceso {
  content: url("../IMG/PDT.png") !important;
  width: 100%;
}

.containerImg {
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
  margin-bottom: 10%;
}
.containerImg .box {
  position: relative;
  width: 50px;
  height: 50px;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
}
.containerImg .box:hover ~ .box {
  transform: rotateY(-25deg);
}
.containerImg .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}
.containerImg .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.containerImg .box .imgBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(180deg,#f00,#000); */
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.containerImg .box:hover .imgBx:before {
  opacity: 1;
}
.containerImg .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.containerImg .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
.containerImg .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.containerImg .box:hover .content h2 {
  transform: translateY(0px);
}
.containerImg .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.containerImg .box:hover .content p {
  transform: translateY(0px);
}

@media screen and (max-width: 950px) {
  .containerImg {
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
  }
  .containerImg .box {
    position: relative;
    width: 105px !important;
    height: 105px !important;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
  }
}
.containerImg:hover .box {
  transform: rotateY(25deg);
}

/* Footer */
footer {
  border-top-right-radius: 145px;
  border-top-left-radius: 145px;
  background-color: #233dff;
}
footer div.pie {
  padding: 6%;
  display: flex;
}
footer div.pie img#logo {
  border-radius: 35px !important;
  width: 160px;
  height: 160px;
}
footer div.pie .redes {
  margin: 0px 100px 0 100px !important;
}
footer div.pie .redes a img#icons {
  border-radius: 50% !important;
  width: 145px;
}
footer div.pie .sobreTuProyecto {
  float: right !important;
  text-align: center !important;
  justify-content: center !important;
}
footer div.pie .sobreTuProyecto h3 {
  color: #f4f6fc;
}
footer div.pie .sobreTuProyecto textarea {
  background-color: rgba(244, 246, 252, 0.8);
  font-size: 16px;
  outline: none !important;
  font-family: "Ruda Black";
  padding: 10px;
  text-align: justify;
  border-radius: 20px;
  width: 75%;
  height: 45%;
}
footer div.pie .sobreTuProyecto textarea:hover {
  background-color: #f4f6fc;
}
footer div.pie .sobreTuProyecto textarea:focus {
  background-color: #f4f6fc;
  box-shadow: 0px 2px 15px black;
  width: 80%;
  height: 50%;
}
footer div.pie .sobreTuProyecto .btns {
  border-radius: 70px !important;
  font-size: 16px !important;
  background-color: #00fe8c;
  margin-bottom: 15%;
}
footer div.pie .sobreTuProyecto .btns:hover {
  background-color: #f4f6fc;
  box-shadow: 0px 2px 15px #233dff;
}

/*# sourceMappingURL=styles.css.map */
